<ion-header>
  <ion-navbar>
    <ion-item>
      <ion-avatar item-start>
        <img height="50" width="50" src="../../assets/imgs/logo.png" />
      </ion-avatar>
      <h2>Directory Listing</h2>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="listing">
  <div>
    <ion-slides pager>
      <ion-slide>
        <img src="{{listing.image}}" />
      </ion-slide>
      <ion-slide *ngFor="let image of images">
        <img src="{{image.data}}" />
      </ion-slide>
    </ion-slides>
  </div>
  <div padding>
    <h1 ion-text color="primary">{{listing.title}}</h1>
    <p ion-text color="secondary">{{listing.description}}</p>
    <br />
    <ion-grid>
      <ion-row>
        <ion-col>
          <button (click)="rate('likes')" [disabled]="hasRating()" ion-button color="secondary" round col-12>
            <ion-icon name="thumbs-up"></ion-icon>
            &nbsp;&nbsp;{{getRating('likes')}}
          </button>
        </ion-col>
        <ion-col>
          <button (click)="rate('dislikes')" [disabled]="hasRating()" ion-button color="danger" round col-12>
            <ion-icon name="thumbs-down"></ion-icon>
            &nbsp;&nbsp;{{getRating('dislikes')}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-card>
    <ion-card-content>
      <h2 class="hd_primary text-center">Contact Information</h2>
      <br />
      <ion-list no-lines>
        <ion-item *ngFor="let item of listing.contact_infomation">
          <h2>
            <ion-icon name="{{item.type}}"></ion-icon> &nbsp;&nbsp; {{item.value}}
          </h2>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <br />
  <ion-card>
    <ion-card-content>
      <h2 class="hd_primary text-center">Feedback</h2>
      <br />
      <ion-list *ngIf="user">
        <ion-item>
          <ion-label stacked>Comment</ion-label>
          <ion-textarea type="text" [(ngModel)]="comment"></ion-textarea>
        </ion-item>
        <br />
        <button ion-button color="secondary" [disabled]="comment.length < 3" round col-8 offset-2 (click)="submit()"
          icon-end large>
          Post
        </button>
      </ion-list>
      <br />

      <ion-list no-lines>
        <p class="text-center" *ngIf="!listing.comments"><small>no feedback</small></p>
        <p *ngFor="let item of listing.comments">
          <b>{{item.user.name}}</b> : {{item.comment}}
          <br />
          <i><b><small>{{item.date | date : 'dd MMM yyyy'}}</small></b></i>
          <br />
          <br />
        </p>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <br />
</ion-content>