<ion-header>
  <ion-navbar>
    <ion-title><img height="50" src="../../assets/imgs/img_logo_light.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h1 ion-text color="primary">Directory</h1>

  <p ion-text color="secondary">All the contact information your need..</p>
  <br />
  <button *ngIf="user" (click)="addNew()" ion-button icon-start color="primary" round col-4 offset-8>
    <ion-icon name="add-circle"></ion-icon>
    New
  </button>
  <listing-item *ngFor="let listing of listings" [listing]="listing" (result)="openListingDetails($event)"></listing-item>
</ion-content>