<h1 ion-text color="primary">Account</h1>
<h1 class="hd_primary text-center">
  <ion-icon name="sad" class="large_font"></ion-icon>
</h1>
<h4 class="hd_primary text-center">You are not signed in</h4>
<br />
<!-- <button (click)="login()" ion-button icon-start color="theme" round col-8 offset-2 large>
  <ion-icon name="log-in"></ion-icon>
  Sign In
</button>
<button (click)="register()" ion-button icon-start color="secondary" round col-8 offset-2 large>
  <ion-icon name="checkmark-circle"></ion-icon>
  Sign Up
</button> -->
<button ion-button icon-start color="danger" round col-8 offset-2 (click)="googleLogin()" large>
  <ion-icon name="logo-googleplus"></ion-icon>
  Google+
</button>
<button ion-button icon-start color="blue" round col-8 offset-2 (click)="facebookLogin()" large>
  <ion-icon name="logo-facebook"></ion-icon>
  Facebook
</button>