<ion-card>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img *ngIf="icon" height="60" width="60" src="{{icon}}">
          <ion-icon name="pin" *ngIf="!icon" color="secondary" style="font-size:2.5em;"></ion-icon>
        </ion-avatar>
        <h2>
          {{listing.title}}
        </h2>
        <p>{{listing.description}}</p>
        <p ion-text color="secondary">
          <small><b>{{listing.town}}</b></small>
        </p>
        <button (click)="view()" ion-button clear item-end color="theme">View</button>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          Call
        </button>
        <button ion-button color="primary">
          <ion-icon name="mail"></ion-icon>
          Email
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-card>