<h1 class="hd_primary text-center">
  <ion-icon name="contact" class="user-icon" large color="primary"></ion-icon>
</h1>
<h4 class="hd_primary text-center">{{profile.displayName}}</h4>
<p class="hd_secondary text-center"><small><b>Email : </b> {{profile.email}}</small></p>
<br />
<ion-card>
  <ion-card-content>
    <ion-card-header>
      <b>My Listings</b>
    </ion-card-header>
    <ion-list>
      <user-listing-item [listing]="item" *ngFor="let item of listings" (makePayment)="makePayment($event)"></user-listing-item>
      <p class="text-center" *ngIf="listings"><i *ngIf="listings.length < 1">you have no listings</i></p>
    </ion-list>
  </ion-card-content>
</ion-card>
<br />
<ion-card>
  <ion-card-content>
    <ion-card-header>
      <b>My Events</b>
    </ion-card-header>
    <ion-list>
      <user-event-item [event]="item" *ngFor="let item of events" (makePayment)="makePayment($event)"></user-event-item>
      <p class="text-center" *ngIf="events"><i *ngIf="events.length < 1">you have no events</i></p>
    </ion-list>
  </ion-card-content>
</ion-card>
<button (click)="logout()" col-8 offset-2 ion-button icon-start color="secondary" round large>
  <ion-icon name="log-out"></ion-icon>
  Sign Out
</button>