/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


h1,h2,h3,h4,h5{font-weight: 100;}


.hd_primary, .item-input-has-focus .label{
    color: #792a90 !important;
}

.hd_secondary{
    color: #14a5a0 !important;
}

.text-center{
    text-align: center !important;
}

.large_font{
    font-size: 3em !important;
}

.text-input {
    border-bottom: solid 1px gainsboro;
}
