<ion-card (click)="view()">
  <img *ngIf="icon" src="{{icon}}">
  <ion-icon name="aperture" *ngIf="!icon" color="secondary" style="font-size:10em; text-align: center;width: 100%;"></ion-icon>
  <ion-card-content>
    <h2 ion-text color="primary">{{event.title}}</h2>
    <p><b ion-text color="secondary">{{event.category}}</b></p>
    <p ion-text><b><small>{{event.town}}</small></b>&nbsp;&nbsp;</p>
    <p ion-text><small>{{event.startDate | date : 'EEE dd MMM yyy'}}</small></p>
    <ion-row>
      <ion-col>
        <ion-item large>
          <ion-icon name="thumbs-up" color="secondary"></ion-icon> &nbsp;
          {{getLikes()}}
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item large>
          <ion-icon name="hand" color="primary"></ion-icon> &nbsp;
          {{getRsvps()}}
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card-content>

</ion-card>