<ion-header>
  <ion-navbar>
    <ion-title><img height="50" src="../../assets/imgs/img_logo_light.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h1 ion-text color="primary">Events</h1>
  <p ion-text color="secondary">Find the best event for your kids..</p>
  <br />
  <button *ngIf="user" (click)="addNew()" ion-button icon-start color="primary" round col-4 offset-8>
    <ion-icon name="add-circle"></ion-icon>
    New
  </button>
  <ion-row>
    <event-item [event]="event" *ngFor="let event of events" (result)="openEvent($event)"></event-item>
  </ion-row>
</ion-content>